<!DOCTYPE html>
<html>
<head>
    <title>Edit Post</title>
</head>
<body>
    <nav id="body-nav">

    </nav>
    <main id="body-main">
        <h2>Edit Post</h2>
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
        <button type="submit">Save Changes</button>
        </form>
        <hr>
    <a href="{% url 'categories:posts_detail' category_id post_id %}">Back to Post</a></h4></pre>
    </main>
    <footer id="body-footer">

    </footer>
</body>
</html>