<!DOCTYPE html>
<html>
<head>
    <title>{{category.category_name}} discussion</title>
</head>
<body>
    <nav id="body-nav">

    </nav>
    <main id="body-main">
        <h2>{{category.category_name}}</h2>
        {% for p in posts %}
        <h3><ul>
            <a href="{% url 'categories:posts_detail' category.id p.id %}">{{p.post_text}}</a>
        </ul></h3>
        {% empty %}
            <h3>No posts found.</h3>
        {% endfor %}
    <hr>
    <pre><h4><a href="{% url 'categories:posts_new' category.id %}">New Post</a> &#9;<a href="{% url 'categories:categories_edit' category.id %}">Edit {{category.category_name}}</a></h4></pre>
    <h4><a href="{% url 'categories:categories_all' %}">Back to Category list</a></h4>
    </main>
    <footer id="body-footer">

    </footer>
</body>
</html>